body {
  #landing-page{
    .container-fluid {
      background-color: $landing-page-bg;
      nav {
        &.nav-settings {
          background-color: $dark-clouds;
          color: $white;
          .logo > a {
            color: inherit;
            font-style: italic;
          }

          .nav-menu {
            li.menu-items > a {
              color: $white;
            }
          }
        }
      }


      .container {
        background-color: $landing-page-bg;
        color: $white;
        font-style: italic;
        .title {
          font-style: inherit;
        }
        .book-btn{
          font-size: 2rem;
          font-style: normal;
          background-color: $dark-clouds;
          color: inherit;
          border-radius: 2em;
          outline: none;
          border: none;
        }
        article {
          p {
            font-style: inherit;
          }
          img {
          }
        }
        ul {
          list-style-type: none;
          li.black-boxes {
            margin-bottom: 2px;
            border: 23px solid #0f1626;
          }
        }
      }
    }
  }

  #sales-box {
    background-color: $itenary-page-bg;
    .sales-links {
      text-align: center;
      p {
        color: $white;
      }
    }
  }

  #dest-info {
    background-color: $itenary-page-bg;
    color: $white;
    button {
      color: $white;
      font-weight: bold;
      font-size: 1rem;
      border: 2px solid $white;
      &.itenary {
        background-color: $landing-page-bg;
      }
      &.destination {
        background-color: $itenary-page-bg;
      }
    }

    article {
      .day-count {
        font-size: 1rem;
        background-color: $landing-page-bg;
      }
      .day-heading {
        font-weight: 400;
      }
      .day-breifing {
        font-size: 1.3rem;
        text-align: left;
      }
    }
    .review {
      input {
        background-color: $itenary-page-bg;
        color: $white;
        font-weight: bold;
        font-size: 2rem;
        border: 2px solid $white;
      }
      article {
        img {
          border-radius: 50%;
        }
      }
    }
  }



  footer{
    background-color: $landing-page-bg;
    address {
      a {
        font-size: 1.5rem;
        line-height: 2.5rem;
        color: $white;
      }
    }

    .rights {
      p {
        color: $white;
        font-size: 13px;
        text-align: right;
        margin-top: 100px;
      }
    }

  }
}
